.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    height: fit-content;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 20px;
    border-bottom: 1px solid gray;
}


.modal-title {
    font-weight: 500;
}

.top-info {
    background: rgba(173, 190, 174, 0.2);
    padding: 15px;
    /* margin-bottom: 10px; */
    font-size: small;
    font-weight: 400;
}

.modal-body {
    padding: 15px;
}